{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{% if '/en/' in request.path %}{{ indexpage.title_en }}{% elif '/uz/' in request.path %}{{ indexpage.title_uz }}{% else %}{{ indexpage.title_ru }}{% endif %}{% endblock %}
{% block description %}{% if '/en/' in request.path %}{{ indexpage.description_en }}{% elif '/uz/' in request.path %}{{ indexpage.description_uz }}{% else %}{{ indexpage.description_ru }}{% endif %}{% endblock %}
{% block content %}
	<!--[if lt IE 9]>
        {% if '/en/' in request.path %}
            <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience.</div>
        {% elif '/uz/' in request.path %}
            <div class="bg-danger text-center">Siz <strong>eskirgan</strong> brauzerdan foydalanyapsiz. Iltimos, yangilang.</div>
        {% else %}
            <div class="bg-danger text-center">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, обновите его.</div>
        {% endif %}
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">
				<i class="rt-icon2-cross2"></i>
			</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form form-inline" action="index.html">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
                {% if '/en/' in request.path %}
                    <button type="submit" class="theme_button">Search</button>
                {% elif '/uz/' in request.path %}
                    <button type="submit" class="theme_button">Qidirmoq</button>
                {% else %}
                    <button type="submit" class="theme_button">Поиск</button>
                {% endif %}
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls with_padding">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">
			{% include 'blocks/header.html' %}

			<section class="ds black section_padding_top_5 section_padding_bottom_5 section_bottom_overlap">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 text-sm-center text-md-left">
							<div class="media small-teaser teaser inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_normal">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<div class="media-body media-middle grey">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Call Us Today:</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Bizga qo'ng'iroq qiling:</span>
                                    {% else %}
                                        <span class="small-text">Позвоните нам:</span>
                                    {% endif %}
									<br>
									<span class="fontsize_20 bold">{{ indexpage.phone }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-sm-center text-md-left">
							<div class="media small-teaser teaser inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_normal">
										<i class="fa fa-map-marker"></i>
									</div>
								</div>
								<div class="media-body media-middle grey">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Our location:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_en }}</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Bizning manzil:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_uz }}</span>
                                    {% else %}
                                        <span class="small-text">Наш адрес:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_ru }}</span>
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 text-sm-center text-md-left">
							<div class="media small-teaser teaser inline-block text-left">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight2 size_normal">
										<i class="fa fa-clock-o"></i>
									</div>
								</div>
								<div class="media-body media-middle grey">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Open hours:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_en }}</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Ish tartibi:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_uz }}</span>
                                    {% else %}
                                        <span class="small-text">Режим работы:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_ru }}</span>
                                    {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="intro_section page_mainslider ds">
				<div class="flexslider" data-nav="false">
					<ul class="slides">
                        {% for slide in slides %}
						<li>
							<img src="{{ slide.img.url }}" alt="">
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center">
										<div class="slide_description_wrapper">
											<div class="slide_description">
                                                {% if '/en/' in request.path %}
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <h2>{{ slide.first_title_en }}<br>{{ slide.second_title_en }}</h2>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <p>{{ slide.description_en }}</p>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <a href="/en{{ slide.link }}" class="theme_button color1">More Information</a>
                                                    </div>
                                                {% elif '/uz/' in request.path %}
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <h2>{{ slide.first_title_uz }}<br>{{ slide.second_title_uz }}</h2>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <p>{{ slide.description_uz }}</p>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <a href="/uz{{ slide.link }}" class="theme_button color1">Qo'shimcha ma'lumot olish uchun</a>
                                                    </div>
                                                {% else %}
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <h2>{{ slide.first_title_ru }}<br>{{ slide.second_title_ru }}</h2>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <p>{{ slide.description_ru }}</p>
                                                    </div>
                                                    <div class="intro-layer" data-animation="fadeInUp">
                                                        <a href="{{ slide.link }}" class="theme_button color1">Узнать больше</a>
                                                    </div>
                                                {% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
                        {% endfor %}
					</ul>
				</div>
				<!-- eof flexslider -->

			</section>

			<section id="about" class="ls section_padding_100">
				<div class="container">
					<div class="row display_table_md">
						<div class="col-md-6 text-center display_table_cell_md">
							<img src="{% static 'images/about.png' %}" alt="" />
						</div>
                        {% if '/en/' in request.path %}
                            <div class="col-md-6 display_table_cell_md">
                                <h2 class="section_header">{{ indexpage.secondblock_title_en }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p class="medium">{{ indexpage.secondblock_subtitle_en }}</p>
                                <p>{{ indexpage.secondblock_description_en }}</p>
                                <div class="row regular">
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_1_en }}</li>
                                            <li>{{ indexpage.secondblock_feature_2_en }}</li>
                                            <li>{{ indexpage.secondblock_feature_3_en }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_4_en }}</li>
                                            <li>{{ indexpage.secondblock_feature_5_en }}</li>
                                            <li>{{ indexpage.secondblock_feature_6_en }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="/en{{ endexpage.secondblock_link }}" class="theme_button color2">Read more</a>
                            </div>
                        {% elif '/uz/' in request.path %}
                            <div class="col-md-6 display_table_cell_md">
                                <h2 class="section_header">{{ indexpage.secondblock_title_uz }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p class="medium">{{ indexpage.secondblock_subtitle_uz }}</p>
                                <p>{{ indexpage.secondblock_description_uz }}</p>
                                <div class="row regular">
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_1_uz }}</li>
                                            <li>{{ indexpage.secondblock_feature_2_uz }}</li>
                                            <li>{{ indexpage.secondblock_feature_3_uz }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_4_uz }}</li>
                                            <li>{{ indexpage.secondblock_feature_5_uz }}</li>
                                            <li>{{ indexpage.secondblock_feature_6_uz }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="/uz{{ endexpage.secondblock_link }}" class="theme_button color2">Qo'shimcha ma'lumot olish uchun</a>
                            </div>
                        {% else %}
                            <div class="col-md-6 display_table_cell_md">
                                <h2 class="section_header">{{ indexpage.secondblock_title_ru }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p class="medium">{{ indexpage.secondblock_subtitle_ru }}</p>
                                <p>{{ indexpage.secondblock_description_ru }}</p>
                                <div class="row regular">
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_1_ru }}</li>
                                            <li>{{ indexpage.secondblock_feature_2_ru }}</li>
                                            <li>{{ indexpage.secondblock_feature_3_ru }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list2">
                                            <li>{{ indexpage.secondblock_feature_4_ru }}</li>
                                            <li>{{ indexpage.secondblock_feature_5_ru }}</li>
                                            <li>{{ indexpage.secondblock_feature_6_ru }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="{{ endexpage.secondblock_link }}" class="theme_button color2">Узнать больше</a>
                            </div>
                        {% endif %}
					</div>
				</div>
			</section>

			<section id="products" class="ls ms section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">{{ indexpage.thirdblock_title_en }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.thirdblock_description_en }}</p>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">{{ indexpage.thirdblock_title_uz }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.thirdblock_description_uz }}</p>
                            {% else %}
                                <h2 class="section_header">{{ indexpage.thirdblock_title_ru }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.thirdblock_description_ru }}</p>
                            {% endif %}
							<div class="owl-carousel topmargin_60" data-nav="true" data-dots="false" data-responsive-lg="3" data-loop="true" data-margin="60">
                                {% for product in products %}
                                    <article class="vertical-item product-item">
                                        <div class="item-media bottommargin_30">
                                            <img src="{{ product.img.url }}" alt="" />
                                        </div>
                                        <div class="item-content">
                                            {% if '/en/' in request.path %}
                                                <h4><a href="/en{{ product.link }}">{{ product.title_en }}</a></h4>
                                                <p>{{ product.description_en }}</p>
                                            {% elif '/uz/' in request.path %}
                                                <h4><a href="/uz{{ product.link }}">{{ product.title_uz }}</a></h4>
                                                <p>{{ product.description_uz }}</p>
                                            {% else %}
                                                <h4><a href="{{ product.link }}">{{ product.title_ru }}</a></h4>
                                                <p>{{ product.description_ru }}</p>
                                            {% endif %}
                                        </div>
                                    </article>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="faq" class="ls overflow_hidden half_section section_padding_top_150 section_padding_bottom_150 columns_padding_80">
				<div class="image_cover image_cover_left"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<img src="{{ indexpage.fourthblock_img.url }}" alt="">
						</div>
						<!-- .col-* -->
						<div class="col-md-6">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">{{ indexpage.fourthblock_title_en }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fourthblock_description_en }}</p>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">{{ indexpage.fourthblock_title_uz }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fourthblock_description_uz }}</p>
                            {% else %}
                                <h2 class="section_header">{{ indexpage.fourthblock_title_ru }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fourthblock_description_ru }}</p>
                            {% endif %}
							<div class="panel-group" id="accordion1">
                                {% for faq in faqs %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion1" href="index.html#collapse{{ faq.id }}" class="collapsed">
                                                    <i class="fa fa-comment"></i>
                                                    {% if '/en/' in request.path %}
                                                        {{ faq.question_en }}
                                                    {% elif '/uz/' in request.path %}
                                                        {{ faq.question_uz }}
                                                    {% else %}
                                                        {{ faq.question_ru }}
                                                    {% endif %}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse{{ faq.id }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                {% if '/en/' in request.path %}
                                                    {{ faq.answer_en }}
                                                {% elif '/uz/' in request.path %}
                                                    {{ faq.answer_uz }}
                                                {% else %}
                                                    {{ faq.answer_ru }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="team" class="ls ms section_padding_top_130 section_padding_bottom_130">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">{{ indexpage.fifthblock_title_en }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fifthblock_description_en }}</p>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">{{ indexpage.fifthblock_title_uz }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fifthblock_description_uz }}</p>
                            {% else %}
                                <h2 class="section_header">{{ indexpage.fifthblock_title_ru }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.fifthblock_description_ru }}</p>
                            {% endif %}

							<div class="owl-carousel team-carousel topmargin_60" data-nav="true" data-dots="false" data-responsive-lg="3" data-loop="true" data-margin="60">
								{% for unit in team %}
                                    <article class="vertical-item">
                                        <div class="item-media bottommargin_40">
                                            <img src="{{ unit.img.url }}" alt="" class="round" />
                                        </div>
                                        <div class="item-content">
                                            {% if '/en/' in request.path %}
                                                <h4 class="bottommargin_0"><a href="service-single.html">{{ unit.name_en }}</a></h4>
                                                <p class="small-text highlight2">{{ unit.position_en }}</p>
                                                <p>{{ unit.description_en }}</p>
                                            {% elif '/uz/' in request.path %}
                                                <h4 class="bottommargin_0"><a href="service-single.html">{{ unit.name_uz }}</a></h4>
                                                <p class="small-text highlight2">{{ unit.position_uz }}</p>
                                                <p>{{ unit.description_uz }}</p>
                                            {% else %}
                                                <h4 class="bottommargin_0"><a href="service-single.html">{{ unit.name_ru }}</a></h4>
                                                <p class="small-text highlight2">{{ unit.position_ru }}</p>
                                                <p>{{ unit.description_ru }}</p>
                                            {% endif %}
                                            <p class="greylinks">
                                                <a class="social-icon soc-facebook" href="{{ unit.facebook }}" title="Facebook"></a>
                                                <a class="social-icon soc-instagram" href="{{ unit.instagram }}" title="Twitter"></a>
                                                <a class="social-icon soc-telegram" href="{{ unit.telegram }}" title="Google"></a>
                                            </p>
                                        </div>
                                    </article>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="call_back" class="ds page_contact2 parallax section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">Request a Call Back</h2>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">Arizangizni Yuboring</h2>
                            {% else %}
                                <h2 class="section_header">Оставить заявку</h2>
                            {% endif %}
							<hr class="divider_30_2 main_bg_color2">
							<form class="contact-form row columns_margin_bottom_20 topmargin_60" method="POST" action="/">
                                {% csrf_token %}
								<div class="col-md-4">
									<div class="form-group">
                                        {% if '/en/' in request.path %}
                                            <label for="consultation-name">Full Name
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-user highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="name" id="consultation-name" class="form-control" placeholder="Full Name">
                                        {% elif '/uz/' in request.path %}
                                            <label for="consultation-name">Ism
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-user highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="name" id="consultation-name" class="form-control" placeholder="Ism">
                                        {% else %}
                                            <label for="consultation-name">Имя
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-user highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="name" id="consultation-name" class="form-control" placeholder="Имя">
                                        {% endif %}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
                                        {% if '/en/' in request.path %}
                                            <label for="consultation-phone">Phone Number
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-phone highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="phone" id="consultation-phone" class="form-control" placeholder="Phone Number">
                                        {% elif '/uz/' in request.path %}
                                            <label for="consultation-phone">Telefon raqami
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-phone highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="phone" id="consultation-phone" class="form-control" placeholder="Telefon raqami">
                                        {% else %}
                                            <label for="consultation-phone">Номер телефона
                                                <span class="required">*</span>
                                            </label>
                                            <i class="fa fa-phone highlight2" aria-hidden="true"></i>
                                            <input type="text" aria-required="true" size="30" value="" name="phone" id="consultation-phone" class="form-control" placeholder="Номер телефона">
                                        {% endif %}
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="consultation-email">E-mail
											<span class="required">*</span>
										</label>
										<i class="fa fa-envelope highlight2" aria-hidden="true"></i>
										<input type="email" aria-required="false" size="30" value="" name="email" id="consultation-email" class="form-control" placeholder="E-mail">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
                                        {% if '/en/' in request.path %}
                                            <label for="consultation-message">Message</label>
                                            <i class="fa fa-flag highlight2" aria-hidden="true"></i>
                                            <textarea aria-required="false" rows="4" cols="45" name="text" id="consultation-message" class="form-control" placeholder="Message"></textarea>
                                        {% elif '/uz/' in request.path %}
                                            <label for="consultation-message">Xabar</label>
                                            <i class="fa fa-flag highlight2" aria-hidden="true"></i>
                                            <textarea aria-required="false" rows="4" cols="45" name="text" id="consultation-message" class="form-control" placeholder="Xabar"></textarea>
                                        {% else %}
                                            <label for="consultation-message">Сообщение</label>
                                            <i class="fa fa-flag highlight2" aria-hidden="true"></i>
                                            <textarea aria-required="false" rows="4" cols="45" name="text" id="consultation-message" class="form-control" placeholder="Сообщение"></textarea>
                                        {% endif %}
									</div>
								</div>
								<div class="col-sm-12 bottommargin_0">
									<div class="contact-form-submit topmargin_10">
                                        {% if '/en/' in request.path %}
                                            <button type="submit" id="consultation-submit" name="contact_submit" class="theme_button color1 wide_button">Send now</button>
                                        {% elif '/uz/' in request.path %}
                                            <button type="submit" id="consultation-submit" name="contact_submit" class="theme_button color1 wide_button">Hozir yuboring</button>
                                        {% else %}
                                            <button type="submit" id="consultation-submit" name="contact_submit" class="theme_button color1 wide_button">Отправить</button>
                                        {% endif %}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>

			<section id="review" class="ls section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1 text-center">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">Testimonials</h2>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">Sharhlar</h2>
                            {% else %}
                                <h2 class="section_header">Отзывы</h2>
                            {% endif %}
							<hr class="divider_30_2 main_bg_color2">
							<div class="owl-carousel testimonials-owl-content topmargin_60" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-loop="true" data-margin="20" data-dots="false" data-nav="true">
								{% for review in reviews %}
                                    {% if '/en/' in request.path %}
                                        <blockquote class="with_quotes">{{ review.text_en }}</blockquote>
                                    {% elif '/uz/' in request.path %}
                                        <blockquote class="with_quotes">{{ review.text_uz }}</blockquote>
                                    {% else %}
                                        <blockquote class="with_quotes">{{ review.text_ru }}</blockquote>
                                    {% endif %}
                                {% endfor %}
							</div>
							<div class="owl-carousel testimonials-owl-dots topmargin_20" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3" data-center="true" data-loop="true" data-margin="30" data-touch-drag="false" data-mouse-drag="false">
								{% for review in reviews %}
                                    <div>
                                        <img src="{{ review.img.url }}" alt="" />
                                        <div class="item-meta">
                                            {% if '/en/' in request.path %}
                                                <h4 class="bottommargin_0">{{ review.name_en }}</h4>
                                                <p class="small-text highlight2">{{ review.position_en }}</p>
                                            {% elif '/uz/' in request.path %}
                                                <h4 class="bottommargin_0">{{ review.name_uz }}</h4>
                                                <p class="small-text highlight2">{{ review.position_uz }}</p>
                                            {% else %}
                                                <h4 class="bottommargin_0">{{ review.name_ru }}</h4>
                                                <p class="small-text highlight2">{{ review.position_ru }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="blog" class="ls ms section_padding_top_150 section_padding_bottom_130">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            {% if '/en/' in request.path %}
                                <h2 class="section_header">{{ indexpage.eighthblock_title_en }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.eighthblock_description_en }}</p>
                            {% elif '/uz/' in request.path %}
                                <h2 class="section_header">{{ indexpage.eighthblock_title_uz }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.eighthblock_description_uz }}</p>
                            {% else %}
                                <h2 class="section_header">{{ indexpage.eighthblock_title_ru }}</h2>
                                <hr class="divider_30_2 main_bg_color2">
                                <p>{{ indexpage.eighthblock_description_ru }}</p>
                            {% endif %}
						</div>
					</div>
					<div class="row columns_margin_bottom_20 topmargin_60">
                        {% for post in three_posts %}
                            <div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center overflow-hidden">
								<div class="item-media">
									<img src="{{ post.img.url }}" alt="">

									<div class="media-links">
										<a href="blog-single-left.html" class="abs-link"></a>
									</div>

								</div>
								<div class="item-content">
									<span class="entry-date small-text highlight2">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">{{ post.date|date:'Y-m-d' }}</time>
									</span>
                                    {% if '/en/' in request.path %}
                                        <h4 class="entry-title"><a href="blog-single-left.html">{{ post.title_en }}</a></h4>
                                        <p>{{ post.description_en }}</p>
                                        <a href="/" class="theme_button color1 topmargin_10">Read more</a>
                                    {% elif '/uz/' in request.path %}
                                        <h4 class="entry-title"><a href="blog-single-left.html">{{ post.title_uz }}</a></h4>
                                        <p>{{ post.description_uz }}</p>
                                        <a href="/" class="theme_button color1 topmargin_10">Ko'proq o'qing</a>
                                    {% else %}
                                        <h4 class="entry-title"><a href="blog-single-left.html">{{ post.title_ru }}</a></h4>
                                        <p>{{ post.description_ru }}</p>
                                        <a href="/" class="theme_button color1 topmargin_10">Читать далее</a>
                                    {% endif %}
								</div>
							</article>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>

			<section class="ls ms">
                <div class="col-sm-12 text-center">
                    {% if '/en/' in request.path %}
                        <h2 class="section_header">{{ indexpage.ninthblock_title_en }}</h2>
                        <hr class="divider_30_2 main_bg_color2">
                        <p>{{ indexpage.ninthblock_description_en }}</p>
                    {% elif '/uz/' in request.path %}
                        <h2 class="section_header">{{ indexpage.ninthblock_title_uz }}</h2>
                        <hr class="divider_30_2 main_bg_color2">
                        <p>{{ indexpage.ninthblock_description_uz }}</p>
                    {% else %}
                        <h2 class="section_header">{{ indexpage.ninthblock_title_ru }}</h2>
                        <hr class="divider_30_2 main_bg_color2">
                        <p>{{ indexpage.ninthblock_description_ru }}</p>
                    {% endif %}
                </div>
				<!-- marker description and marker icon goes here -->
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac0675216cbf366ecf5478de3743ece551040f898fb2a64c35ae9f12c5928f832&amp;source=constructor" width="100%" height="500"></iframe>
			</section>

			<section class="cs main_color2 section_padding_top_5 section_padding_bottom_5">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 text-center text-md-right">
							<div class="media small-teaser teaser inline-block text-left black">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight size_normal">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								<div class="media-body media-middle">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Call Us Today:</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Позвоните нам:</span>
                                    {% else %}
                                        <span class="small-text">Bizga qo'ng'iroq qiling:</span>
                                    {% endif %}
									<br>
									<span class="fontsize_20 bold">{{ indexpage.phone }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center text-md-right">
							<div class="media small-teaser teaser inline-block text-left black">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight size_normal">
										<i class="fa fa-map-marker"></i>
									</div>
								</div>
								<div class="media-body media-middle">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Our location:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_en }}</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Bizning manzil:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_uz }}</span>
                                    {% else %}
                                        <span class="small-text">Наш адрес:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.address_ru }}</span>
                                    {% endif %}
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 text-center text-md-right">
							<div class="media small-teaser teaser inline-block text-left black">
								<div class="media-left media-middle">
									<div class="teaser_icon highlight size_normal">
										<i class="fa fa-clock-o"></i>
									</div>
								</div>
								<div class="media-body media-middle">
                                    {% if '/en/' in request.path %}
                                        <span class="small-text">Open hours:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_en }}</span>
                                    {% elif '/uz/' in request.path %}
                                        <span class="small-text">Ish tartibi:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_uz }}</span>
                                    {% else %}
                                        <span class="small-text">Режим работы:</span>
                                        <br>
                                        <span class="fontsize_20 bold">{{ indexpage.worktime_ru }}</span>
                                    {% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{% include 'blocks/footer.html' %}

			<section class="ds page_copyright section_padding_15 with_top_border_container">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            {% if '/en/' in request.path %}
                                <p class="small-text grey">{{ indexpage.copyright_en }}</p>
                            {% elif '/uz/' in request.path %}
                                <p class="small-text grey">{{ indexpage.copyright_uz }}</p>
                            {% else %}
                                <p class="small-text grey">{{ indexpage.copyright_ru }}</p>
                            {% endif %}
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}">
    </script><script src="{% static 'js/compressed.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}